<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="btn " href="<%= paises_index_path %>" type="button">Paises</a>
    <a class="btn " href="<%= estados_index_path %>" type="button">Estados</a>
    <a class="btn " type="button">Ciudades</a>
  </form>
</nav>